
.servicesSection {
    padding: 2rem;
    background-color: #f5f5f5;
    text-align: center;
}

.servicesSection h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.servicesGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.serviceCard {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.serviceCard:hover {
    cursor: pointer;;
    transform: translateY(-10px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.serviceCard h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.serviceCard p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}