.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
  max-width: 960px;
  margin: auto;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 6px;
  margin-right: 8px;
  width: 100%;
}

.input-container:first-child {
  width: 28%; /* Giảm kích thước của ô "Enter place" */
}

.input-container:nth-child(2) {
  width: 33%; /* Điều chỉnh kích thước của ô ngày bắt đầu */
}

.input-container:nth-child(3) {
  width: 33%; /* Điều chỉnh kích thước của ô ngày kết thúc */
}

.icon {
  margin-right: 6px;
  color: #1e90ff;
  font-size: 14px;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.search-button {
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0586ef;
}